@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerfluid {
    width: 100% !important;
    padding: 0;
}

.navbar {
    background-color: #2D2E79;
    width: 100%;
    color: #ffffff;
}

.navbar a {
    color: #ffffff;
}

.navbar-brand,
.navbar-brand span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.navbar-brand span {
    color: #F25094;
}


/*Credentials Section*/
#testimonials {
    padding: 40px 0;
    background-color: #e5e5e5;
}

#testimonials h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin: 20px 40px 40px 40px;
}
#cred {
    justify-content: center !important;
}

.box {
    background: #DEEFB7;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

svg, p, .author {
    margin: 30px 0;
}

svg {margin-top: 10px;}

.author {
    display: flex;
    min-height: 5px;
    align-items: center;
}

.author-name small {
    display: block;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #B2B3B7;
}

.author-name {margin-left: 20px;}

p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #252525;
}

.client {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    color: #F25094;
}

.numbers{
    display: block;
    min-width: 20px;
    margin: 40px auto;
}

/*Home CSS*/
.banner{
	background-color: #2D2E79;
	text-align: center;
    color: #fff;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'poppins';
	font-size: 75px;
    font-weight: bolder;
    line-height: 100px;
    margin-bottom: 30px;
	color:#DDEEB7;
}
.banner-sub-heading{
	font-family: 'poppins';
	font-size: 18px;
    font-weight: 80;
    line-height: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-bottom: 50px;
	color:#fff;
}
.subin{
    color: #F25094 !important;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
    color:#fff !important;
    background-color: #F25094 !important;
    border: #F25094 !important;
	text-transform:uppercase;
}
.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		border-top:3px solid #fed136;
		color:#fff;
		z-index:1;
		margin-top:5px;
		}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
    font-weight: 500;
    }
	.banner-text{
	padding:150px 0 150px 0;
}
.banner-heading{
	font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
	font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}

}

@media (max-width:768px){
	.banner-text{
	padding:150px 0 150px 0;
}
	.banner-sub-heading{
	font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.services-area {
  background-color: #f3f3f6;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #ff3636;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #ff3636;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
.single-service {
	border: 1px solid #eee;
	padding: 30px 10px;
    padding-left: 25px;
    padding-right: 25px;
	background-color: #ffffff;
	position: relative;
	text-align: left;
	margin-bottom: 30px;
}
.single-service img {
  width: 24.75px;
  height: 35px;
  line-height: 60px;
  text-align: center;
  margin-bottom:20px;
}
.single-service i.fa {
	-webkit-transition: .4s;
	transition: .4s;
}
.single-service:hover i.fa {
	border-radius: 50%;
}
.single-service h4 {
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 500;
}

 @media (max-width: 759px){
    .two, .three {
        display: none;
    }
} 
