@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerfluid {
    width: 100% !important;
    padding: 0;
}

.navbar {
    background-color: #2D2E79;
    width: 100%;
    color: #ffffff;
}

.navbar a {
    color: #ffffff;
}

.navbar-brand,
.navbar-brand span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.navbar-brand span {
    color: #F25094;
}